body{
    margin: 0;
    font-family: sans-serif;
}
.bg-image{
    width: 100%;
    height: 100vh;
    background:url('n.jpg');
    background-position: center;
    background-attachment: fixed; 
}
.container{
    padding: 100px;
}
@media (max-width:500px){
    .container{
        padding: 10px;
    }
}